<div>
  <mat-table [dataSource]="sobreData" >

    <ng-container matColumnDef="checkBox">
      <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
      <mat-cell *matCellDef="let source">
        <mat-checkbox 
          (click)="checkRow(source.id)" 
          [disabled]="sobreRowUI[source.id].disableCheckedBox">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let source"> {{ source.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="budget">
      <mat-header-cell *matHeaderCellDef> Budget </mat-header-cell>
      <mat-cell *matCellDef="let source">
        <p *ngIf="!sobreRowUI[source.id].displayInput"> $ {{ source.budget }} </p>
        <input type="number" [(ngModel)]="source.budget" *ngIf="sobreRowUI[source.id].displayInput"/>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="adjust">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let source">
        <button mat-raised-button color="{{ sobreRowUI[source.id].buttonColor }}" (click)="editBudget(source.id)">
          {{ sobreRowUI[source.id].buttonName }}
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let rowData; columns: columnsToDisplay"></mat-row>

  </mat-table>

  <br/>

  <button mat-raised-button color="warn" (click)="budgetToZero()" [disabled]="disableToZero"> To Zero </button>
</div>
